<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Top 1000 Highest Grossing Movies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  
  
</head>

<body>
<div class="container">

<div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Top 1000 Highest Grossing Movies</h1>
        <p></p>
      </div>
    </div>
    <div class="row">
      <h2>Flask Routes</h2>
      <p>localhost</p>
      <p>/api/v2.0/data</p>
      <div class="col-md-2">
        <div class="well">
          <h5>Release Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="line2">
        </div>        
      </div>
      <div class="col-md-5">
        <div id="pie">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="line">
        </div>
      </div>
    </div>
    <div class="container">
      
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/js/app.js"></script> 
  
</body>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
  <p class="col-md-4 mb-0 text-muted">&copy; Desigend By Alfredo Garcia, Connor Grant, Neel Patel,Yousuf Amin Alfatwa ,June 2022</p>

</html>
</footer>
</html>



//canvas = ID makes the chart, where you place 
// div, script, inside script chart instructions 
